<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Practica01p</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>        
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg bg-success">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="/">Pagina Practica01</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-white" aria-current="page" href="/arbol/listado">Listado de Arboles</a>

                                </div>

                                </div>
                                </nav>
                                </header>  




                                <footer th:fragment="footer"  class=" footer text-white text-center text-lg-start bg-success mt-5">
                                    <!-- Grid container -->
                                    <div class="container p-4">
                                        <!--Grid row-->
                                        <div class="row mt-4">
                                            <!--Grid column-->
                                            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                                                <h5 class="text-uppercase mb-4">Acerca de la Compañia</h5>

                                                <p>
                                                    El árbol es una maravilla de la naturaleza, una estructura viva que se alza con majestuosidad desde la tierra, sus ramas extendiéndose 
                                                    hacia el cielo y sus hojas bailando al compás del viento. Estos seres vegetales desempeñan un papel fundamental en la purificación del aire 
                                                    que respiramos y en la creación de hábitats para innumerables especies. Su presencia nos conecta con la tierra y nos recuerda la importancia de cuidar 
                                                    nuestro entorno natural. Cada árbol es un testimonio de la vida en constante evolución y un símbolo de resistencia y belleza en el mundo natural.
                                                </p>

                                                <p>
                                                    Los árboles son vitales para nuestro planeta ya que desempeñan un papel fundamental 
                                                    en la producción de oxígeno, la absorción de dióxido de carbono, 
                                                    la conservación del suelo y la creación de hábitats para la vida silvestre.
                                                </p>

                                                <div class="mt-4">
                                                    <!-- Facebook -->
                                                    <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="fab fa-facebook-f"></i></a>
                                                    <!-- Dribbble -->
                                                    <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="fab fa-dribbble"></i></a>
                                                    <!-- Twitter -->
                                                    <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="fab fa-twitter"></i></a>
                                                    <!-- Google + -->
                                                    <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="fab fa-google-plus-g"></i></a>
                                                    <!-- Linkedin -->
                                                </div>
                                            </div>
                                            <!--Grid column-->

                                            <!--Grid column-->
                                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                                <h5 class="text-uppercase mb-4 pb-1">Que quieres buscar</h5>

                                                <div class="form-outline form-white mb-4">
                                                    <input type="text" id="formControlLg" class="form-control form-control-lg" />
                                                    <label class="form-label" for="formControlLg">Buscar</label>
                                                </div>

                                                <ul class="fa-ul" style="margin-left: 1.65em;">
                                                    <li class="mb-3">
                                                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Costa Rica, San Jose 10012, CR</span>
                                                    </li>
                                                    <li class="mb-3">
                                                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@arbol.com</span>
                                                    </li>
                                                    <li class="mb-3">
                                                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 506 22173500</span>
                                                    </li>
                                                    <li class="mb-3">
                                                        <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 506 22173511</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                        </div>
                                        <!--Grid row-->
                                    </div>
                                    <!-- Grid container -->

                                    <!-- Copyright -->
                                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                                        © 2021 Copyright:
                                        <a class="text-white" href="#">Pruebas</a>
                                    </div>
                                    <!-- Copyright -->
                                </footer>
                                <div th:fragment="titulo" class="card" style=" margin-top: 2rem;">
                                    <div class="card-body bg-success text-light  " style="font-weight: bold">
                                        EL LISTADO DE ARBOLES ESTA EN EL APARTADO "LISTADO ARBOLES"
                                    </div>
                                </div>

                                </body>
                                </html>

